.nav {
  text-align: center;
  background-image: url(imgs/rsz_coverphoto.png);
  background-repeat: no-repeat;
  background-color: black;
  font-size: 130%;
}

ul {
  padding: 60px;
  text-align: center;
}

.nav li {
  padding: 10px;
  display: inline-block;
}
.contact li {
  padding: 10px;
  display: inline-block;
}
 a:link {
  color: white;
}

a:visited {
  color: white;
}

.icons {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 200%;
}
.bpost li {
  list-style-type: none;
  text-align: center;
}

.bpost {
  text-align: center;
  margin: auto;
  border: dashed;
  padding: 0px 240px 0px;
}

.btitle {
  font-size: 200%;
  padding: 20px;
}
.row1 li {
  padding: 30px;
  list-style-type: none;
  display: inline-block;
  margin: auto;
  background-color: black;

}
.row2 li {
  padding: 30px;
  list-style-type: none;
  display: inline-block;
  margin: auto;
  background-color: black;

}