
    h2 {
      text-align: center;
      font-size 320%;
      padding: 30px;
    }

    ul {
      text-align: center;
      list-style-type: none;
    }

  img {
    display: block;
    margin: auto;
  }
