nav {
  text-align: center;
}
img.hshot {
  text-align: left;
}
p.contact {
  text-align: center;
}
img.topbar {
  text-align: center;
  background-color: black;
}
div.cloudtop {
  background-color: black;
}